.container{
  width: 50%;
  padding: 0;
  margin: 0;
  margin-left: 25%;
  
}
/* .gradient-background {
  background: linear-gradient(300deg, #00bfff, #ff4c68, #ef8172);
  background-size: 180% 180%;
  animation: gradient-animation 9s ease infinite;
} */

/* @keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
} */
html{
    background-color: hsl(60, 2%, 88%);
    font-style: italic;
}


h1{
    font-size: 40px;
    font-style: normal;
    color: black;
    text-align: center;
    margin-top: 30px;    
}

h2{
    font-style: normal;
    size: 20px;
    text-align: left;
    color : black;
    text-transform: none;
    
}
